* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
  }

  body {
    height: 100vh;
    background: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  ::-webkit-scrollbar{
    width:0px;
  }

  .container {
    height: 100vh;
    margin-top: 50px;
    position: absolute;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;
  }

  .container .items {
    text-align: center;
    place-items: center;
    padding: 30px 20px;
    background: white;
    border-radius: 35px;
    border: 1px solid black;
  }

  .items img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 30px;
  }

  .items h4 {
    margin-top: 10px;
    padding: 10px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .container .items audio{
    width: 100%;
    outline: none;
    background: linear-gradient(100deg, pink, brown);
    border-radius: 10px;
   }

   audio::-webkit-media-controls-panel {
    background: linear-gradient(100deg, pink, brown);
   }

   .container .items audio::-webkit-media-controls-enclosure{
    background: none;
   }

   @media (max-width:600px) {
    .container .items {
      height: 27rem;
      width: 90%;
      flex-flow: column;
    }

    .container .items .image {
      height: 80%;
      width: 100%;
    }
   }

